*.csv
*.ipynb_checkpoints
__pycache__/
.env
# Ignore Python venvs
venv/
.venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings (optional but nice)
.vscode/

# Mac system files (if on Mac)
.DS_Store
